# Importing Libraries

In [1]:
import pandas as pd
import numpy as np

# importing dataset

In [2]:
data  = pd.read_csv(r"C:\Users\BRAKAY\Desktop\data science\task\weatherAUS.csv")
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [20]:
X = data.iloc[:,[1,2,3,4,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21]].values
Y = data.iloc[:,-1].values

In [21]:
Y = Y.reshape(-1,1)

# cleaning of dataset

In [22]:
from sklearn.impute import SimpleImputer

In [23]:
imputer = SimpleImputer(missing_values = np.nan, strategy= 'most_frequent')

In [24]:
X = imputer.fit_transform(X)
Y = imputer.fit_transform(Y)

In [25]:
X

array([['Albury', 13.4, 22.9, ..., 16.9, 21.8, 'No'],
       ['Albury', 7.4, 25.1, ..., 17.2, 24.3, 'No'],
       ['Albury', 12.9, 25.7, ..., 21.0, 23.2, 'No'],
       ...,
       ['Uluru', 5.4, 26.9, ..., 12.5, 26.1, 'No'],
       ['Uluru', 7.8, 27.0, ..., 15.1, 26.0, 'No'],
       ['Uluru', 14.9, 27.0, ..., 15.0, 20.9, 'No']], dtype=object)

# perform Encoding

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
le1 = LabelEncoder()
X[:,0] = le1.fit_transform(X[:,0])

le2 = LabelEncoder()
X[:,4] = le2.fit_transform(X[:,4])

le3 = LabelEncoder()
X[:,6] = le3.fit_transform(X[:,6])

le4 = LabelEncoder()
X[:,7] = le4.fit_transform(X[:,7])

le5 = LabelEncoder()
X[:,-1] = le5.fit_transform(X[:,-1])

le6 = LabelEncoder()
Y[:,0] = le6.fit_transform(Y[:,0])

In [29]:
X

array([[2, 13.4, 22.9, ..., 16.9, 21.8, 0],
       [2, 7.4, 25.1, ..., 17.2, 24.3, 0],
       [2, 12.9, 25.7, ..., 21.0, 23.2, 0],
       ...,
       [41, 5.4, 26.9, ..., 12.5, 26.1, 0],
       [41, 7.8, 27.0, ..., 15.1, 26.0, 0],
       [41, 14.9, 27.0, ..., 15.0, 20.9, 0]], dtype=object)

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
sc = StandardScaler()

In [32]:
X = sc.fit_transform(X)

In [33]:
X

array([[-1.53166617,  0.18574255, -0.04496081, ..., -0.0111752 ,
         0.01648605, -0.53917171],
       [-1.53166617, -0.75248621,  0.26439264, ...,  0.03496398,
         0.37601964, -0.53917171],
       [-1.53166617,  0.10755682,  0.34876177, ...,  0.61939355,
         0.21782486, -0.53917171],
       ...,
       [ 1.20928479, -1.06522913,  0.51750001, ..., -0.68788313,
         0.63488383, -0.53917171],
       [ 1.20928479, -0.68993763,  0.53156153, ..., -0.28801026,
         0.62050249, -0.53917171],
       [ 1.20928479,  0.42029974,  0.53156153, ..., -0.30338999,
        -0.11294605, -0.53917171]])

In [34]:
from sklearn.model_selection import train_test_split

In [43]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size = 0.2, random_state = 0)

In [44]:
X_train

array([[ 0.22535368,  1.03014843,  0.06753136, ...,  0.68091245,
         0.07401142, -0.53917171],
       [ 1.42012717, -0.45538044,  0.10971592, ..., -0.41104807,
         0.21782486, -0.53917171],
       [ 0.50647685, -0.2051861 , -0.14339145, ..., -0.05731438,
        -0.02665799,  1.85469671],
       ...,
       [ 1.0687232 ,  0.7486798 ,  0.92528411, ...,  1.09616505,
         1.0519428 , -0.53917171],
       [ 0.57675765, -0.04881464, -0.17151449, ...,  0.01958425,
        -0.28552217,  1.85469671],
       [ 1.63096955, -0.0331775 , -0.91677508, ..., -0.34952917,
        -0.76010652, -0.53917171]])

In [45]:
Y_train

array([[1],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=object)

# Training of model

In [47]:
from sklearn.tree import DecisionTreeClassifier

In [49]:
classifier = DecisionTreeClassifier()

In [50]:
classifier.fit(X_train, Y_train)

ValueError: Unknown label type: 'unknown'